@font-face {
    font-family: 'TT Firs Neue Trial Var Roman';
    src: url('assets/fonts/tt-firs-neue-bold-webfont.woff2') format('woff2'),
         url('assets/fonts/tt-firs-neue-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'TT Firs Neue Trial Var Roman';
    src: url('assets/fonts/tt-firs-neue-extrabold-webfont.woff2') format('woff2'),
         url('assets/fonts/tt-firs-neue-extrabold-webfont.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}