// Typography
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  color: $black;
  font-family: $secondary-font;
  margin: 0 0 0.8em;
  line-height: 1.2;
  font-weight: 800;
  text-transform: uppercase;
}

h1, .h1 {
  font-size: $h1-font-size;
  margin-bottom: 0.2em;
  line-height: 1.1;

  @include media('>=desktop') {
    font-size: 76px;
    line-height: 1;
    letter-spacing: -0.03em;
  }
}

h2, .h2 {
  font-size: $h2-font-size;
  line-height: 1.1;

  @include media('>=desktop') {
    font-size: 58px;
    line-height: 1;
  }
}

h3, .h3 {
  font-size: $h3-font-size;
  font-weight: 700;

  @include media('>=desktop') {
    font-size: 40px;
  }
}

h4, .h4 {
  font-size: $h4-font-size;
  // line-height: 1.3;

  @include media('>=widescreen') {
    font-size: 32px;
    // line-height: 1.4;
  }
}

h5, .h5 {
  font-size: $h5-font-size;
  // line-height: 1.4;
  line-height: 1.1;

  @include media('>=widescreen') {
    font-size: 24px;
  }
}

h6, .h6 {
  font-size: $h6-font-size;
  line-height: 1.4;
  font-weight: 700;
  font-family: $base-font-sans-serif;
  text-transform: inherit;

  // @include media('>=widescreen') {
  //   font-size: 20px;
  // }
}

p {
  margin: 0 0 1.2em;
}

a {
  color: $base-link-color;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}