.not-found {
	padding-bottom: 40px;
	position: relative;
	z-index: 2;

	.img-wrap {
		text-align: center;
		margin-bottom: 30px;
		img {
			max-width: 500px;
			width: 100%;
		}
	}

	.error {
		display: block;
		color: $text-blue;
		margin-bottom: 10px;
		font-size: 30px;
	}
}