.award-winners-block {
	.heading-block {
		margin-bottom: 30px;
	}
	.row {
		row-gap: 40px;

		@include media('>=tablet') {
			align-items: center;
		}

		@include media('>=desktop') {
			margin: 0 -20px;
		}

		@include media('>=widescreen') {
			margin: 0 -31px;
		}
	}
	.col {
		width: 100%;
		@include media('>=desktop') {
			padding: 0 20px;
			width: 50%;
		}

		@include media('>=widescreen') {
			padding: 0 31px;
		}
	}

	.col-content {
		.col-wrap {
			display: flex;
			flex-direction: column;
			gap: 30px;
		}

		.content-lists {
			display: flex;
			flex-direction: column;
			gap: 30px;

			* {
				margin: 0;
			}

			.content-list {
				display: flex;
				flex-direction: column;
				gap: 10px;

				a {
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}

			ul {
				@extend %listreset;
			}
		}
	}

	.col-image {
		img {
			@include mask-image('assets/images/img-mask-square-large.png');
			width: 100%;
		}
	}
}