.content-block {
	&.button-top {
		.heading-block,
		.links {
			order: -1;
		}
	}
	&-wrap {
		display: flex;
		flex-direction: column;
		// gap: 60px;
		gap: 40px;
	}
	.size-small {
		max-width: 604px;
		margin-inline: auto;
	}

	.size-medium {
		max-width: 808px;
		margin-inline: auto;
	}

	.size-medium-large {
		max-width: 1000px;
		margin-inline: auto;
	}

	.size-large {
		max-width: 1016px;
		margin-inline: auto;
	}
	.heading-block {
		margin-block: 0;
		&.text-center {
			margin-inline: auto;
		}

		& > * {
			margin: 0;
		}
	}

	.text {
		display: flex;
		flex-direction: column;
		gap: 20px;

		& > * {
			margin: 0;
		}

		p {
			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.img-wrap {
		display: flex;
		justify-content: center;
		z-index: -1;
		position: relative;
		margin-top: -40px;

		@include media('>=desktop') {
			margin-top: -64px;
		}

		&.left {
			justify-content: flex-start;
		}

		&.right {
			justify-content: flex-end;
		}
	}

	.links {
		@include media('>=desktop') {
			gap: 30px;
		}
		.btn-wrap {
			a {
				@include media('>=desktop') {
					font-size: 20px;
				}

				&.btn-arrow {
					&:after {
						min-width: 18px;
						min-height: 18px;
					}
				}
			}
		}
	}
}

#asl-storelocator {
	.sl-list-wrapper {
		.addr-loc {
			.btn {
				&:hover {
					color: $secondary-green;
				}
				&:before {
					display: none;
				}
			}

			.site-note-desc {
				margin-top: 5px;
				background: #eee;
				padding: 10px;
			}
		}
	}
}