.content-lists-block {
	.content-lists {
		display: flex;
		flex-direction: column;
		gap: 40px;

		@include media('>=desktop') {
			gap: 60px;
		}
		.content-list {
			&-wrap {
				display: flex;
				flex-direction: column;
				gap: 20px;
				* {
					margin: 0;
				}

				a:not(.btn):not(.btn-arrow) {
					text-decoration: underline;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}