.cta-block {
	.cta-box {
		padding: 32px 24px 0;
		border-radius: 16px;
		overflow: hidden;

		@include media('>=desktop') {
			padding: 60px;
			border-radius: 50px;
		}
	}

	.row {
		row-gap: 50px;

		@include media('>=widescreen') {
			margin: 0 -37px;
		}
	}

	.col {
		width: 100%;

		@include media('>=desktop') {
			width: 50%;
		}

		@include media('>=widescreen') {
			padding: 0 37px;
		}

		.h3 {
			margin-bottom: 18px;
		}

		a {
			color :$primary;
			// font-weight: 700;

			&:hover {
				text-decoration: underline;
			}
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.col-image {
		.col-wrap {
			position: relative;
			min-height: 240px;

			@include media('>=desktop') {
				min-height: 150px;
			}
		}

		.img-wrap {
			position: absolute;
			left: -70px;

			@include media('>=desktop') {
				left: 0;
				margin-top: -56%;
			}

			@include media('>=widescreen') {
				margin-top: -70%;
			}
		}
	}
}