#footer {
	@include mask-image('assets/images/footer-bg-pattern.png');
	mask-size: cover;
	background: $primary-green;
	padding-top: 60px;
	padding-bottom: 20px;
	position: relative;
	z-index: 3;
	margin-top: -28px;

	@include media('>=desktop') {
		padding-top: 80px;
		margin-top: -20px;
	}

	@include media('>=widescreen') {
		padding-top: 100px;
	}
}

.footer-top {
	display: flex;
	flex-direction: column;
	gap: 40px;

	@include media('>=desktop') {
		gap: 80px;
	}

	@include media('>=widescreen') {
		gap: 100px;
	}
	&-wrap {
		display: grid;
		grid-template-columns: 1fr;
		gap: 48px;

		@include media('>=desktop') {
			grid-template-columns: 344px 1fr;
			gap: 60px;
		}

		@include media('>=widescreen') {
			gap: 176px;
		}

		.address {
			a {
				&:hover {
					color: $black;
					text-decoration: underline;
				}
			}
		}
	}

	.footer-register {
		font: 800 30px/1 $secondary-font;
		letter-spacing: -0.03em;
		text-transform: uppercase;
		display: flex;
		text-align: center;
		justify-content: center;

		@include media('>=tablet') {
			font-size: 47px;
		}
		@include media('>=desktop') {
			font-size: 63px;
		}
		@include media('>=widescreen') {
			font-size: 75px;
		}

		@include media('>=large') {
			font-size: 79.7px;
		}
	}

	&-left {
		&-wrap {
			display: flex;
			flex-direction: column;
			gap: 40px;
		}
	}

	&-right {
		display: flex;
		flex-direction: column;
		gap: 40px;
		@include media('>=desktop') {
			gap: 49px;
		}
		.menu-wrap {
			ul {
				@extend %listreset;
				display: flex;
				flex-direction: column;
				gap: 16px;

				@include media('>=desktop') {
					flex-direction: row;
					gap: 50px;
				}

				li {
					a {
						letter-spacing: 0.5px;
						font-weight: 700;
						font-family: $secondary-font;
						text-transform: uppercase;

						&:hover {
							color: $secondary-green;
							// color: $black;
							// text-decoration: underline;
						}
					}
				}
			}
		}

		.footer-text {
			display: flex;
			flex-direction: column;
			gap: 20px;

			& > * {
				margin: 0;
			}

			p {
				small {
					font-size: 14px;
				}
			}
		}
	}

	.social-networks {
		.social-title {
			display: block;
			margin-bottom: 10px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
			font-family: $secondary-font;
		}

		ul {
			@extend %listreset;
			display: flex;
			flex-wrap: wrap;
			gap: 16px;

			li {
				a {
					&:hover {
						opacity: 0.7;
					}
				}
			}
		}
	}

	.newsletter-box {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;

		@include media('>=tablet') {
			flex-direction: row;
			gap: 50px;
		}

		.newsletter-wrap {
			width: 100%;
			max-width: 374px;

			.newsletter-title {
				display: block;
				margin-bottom: 10px;
				font-weight: 700;
				font-family: $secondary-font;
				text-transform: uppercase;
				letter-spacing: 0.5px;
			}

			div.gform_wrapper {
				.gform_validation_errors {display: none;}
				form {
					position: relative;

					.gform_fields {
						.gfield {
							.gfield_label {
								display: none;
							}
							input {
								border: 3px solid $black;
								height: 44px !important;
								background: $primary-butter;
								border-radius: 50px;
								width: 100%;
								padding-right: 130px !important;
								outline: none;
								box-shadow: none;
							}
						}
					}
					.gform-footer {
						position: absolute;
						top: 0;
						right: 0;
						margin: 0;
						width: auto;
						input[type="submit"] {
							border-radius: 50px;
							text-transform: uppercase;
							color: $primary-butter;
							letter-spacing: 0.5px;
							text-align: center;
							background: $black;
							width: 122px;
							padding: 5px 15px;
							height: 44px !important;
							outline: none;

							&:hover {
								background: $secondary-green;
							}
						}
					}
				}
			}
		}
	}
}
.footer-bottom {
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 20px;

	@include media('>=desktop') {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&-left {
		ul {
			@extend %listreset;
			display: flex;
			flex-direction: column;
			gap: 10px;
			@include media('>=tablet') {
				flex-direction: row;
			}
			@include media('>=desktop') {
				gap: 30px;
			}

			li {
				a {
					font-size: 14px;

					&:hover {
						color: $secondary-green;
					}
				}
			}
		}
	}

	&-right {
		display: flex;
		flex-direction: column;
		gap: 10px;
		font-size: 14px;
		@include media('>=desktop') {
			gap: 30px;
			flex-direction: row;
		}

		p {
			margin: 0;
		}
	}
}