.card-img-with-content {
	position: relative;
	background: $primary-butter;
	padding: 20px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	height: 100%;
	@include media('>=desktop') {
		padding: 30px;
	}

	&:hover {
		.btn-arrow {
			color: $secondary-green;

			&:after {
				background-image: url('assets/images/icon-arrow-diagonal-hover.svg');
			}
		}
	}

	// > a {
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	z-index: 1;
	// 	font-size: 0;
	// }

	.text-wrap {
		display: flex;
		flex-direction: column;
		gap: 20px;

		& > * {
			margin: 0;
		}
	}
}

.image-with-content-slider-block {
	overflow: hidden;
	.btn-wrap {
		margin-top: 40px;

		@include media('>=desktop') {
			margin-top: 60px;
		}

		@include media('>=widescreen') {
			margin-top: 80px;
		}
	}
}

.animate-block {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	// padding-top: 40px;

	.animate-wrap {
		display: flex;
		gap: 40px;
		position: relative;
	}

	.animate-item {
		flex-shrink: 0;
		width: 363px;
	}
}