.tags {
	@extend %listreset;
	display: flex;
	flex-wrap: wrap;
	gap: 10px 20px;
	li {
		padding: 5px 10px;
		border-radius: 50px;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1.2;
		background: $white;
	}
}

.input-filter-wrap {
	position: relative;
	label {
		display: inline-block;
		margin-bottom: 10px;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		font: 700 16px/1 $secondary-font;
		color: $black !important;
	}
	input {
		border: none;
		padding: 5px 6px 5px 26px;
		width: 100%;
		outline: none;
		background: $primary-butter;
		border-radius: 50px;
		height: 44px;
		font: 700 16px/1 $secondary-font;
		letter-spacing: 0.5px;
		color: $black;
		outline: none;
		box-shadow: none;
		border: 2px solid $border-color;

		&::placeholder {
			color: #666 !important;
		}

		// &#date {
		// 	background: url('assets/images/icon-calendar.svg') no-repeat right 10px center;
		// 	background-size: 20px;
		// 	position: relative;
		// 	padding-right: 40px;


		// 	&::-webkit-calendar-picker-indicator {
		// 		// opacity: 0;            /* make invisible */
		// 		position: absolute;    /* overlay our icon area */
		// 		right: 10px;
		// 		width: 20px;           /* match icon width */
		// 		height: 100%;
		// 		cursor: pointer;
		// 		z-index: 1;
		// 		top: 6px;
		// 	}

		// 	 // Firefox
    //     &::-moz-calendar-picker-indicator {
    //         position: absolute;
    //         right: 10px;
    //         width: 20px;
    //         height: 100%;
    //         cursor: pointer;
    //         z-index: 1;
    //         top: 6px;
    //         opacity: 0;  // Hide native icon
    //         background: transparent;
    //     }

		// }

		&#search {
			background: url('assets/images/icon-search.svg') no-repeat right 10px center / 20px 20px;
			padding-right: 40px;
		}
	}

	select {
		border: none;
		width: 100%;
		outline: none;
		background: $primary-butter url('assets/images/icon-down.svg') no-repeat right 26px center / 16px 16px;
		border-radius: 50px;
		height: 44px;
		font: 700 16px/1 $secondary-font;
		color: $black;
		outline: none;
		box-shadow: none;
		border: 2px solid $border-color;
		text-transform: uppercase;
		padding: 5px 40px 5px 26px;
		letter-spacing: 0.5px;
		// background-image: url('assets/images/icon-down.svg');
		// background-repeat: no-repeat;
		// background-size: 16px 16px;
		// background-position: right 26px center;
		appearance: none;

		&::placeholder {
			color: #666 !important;
		}

	}
}

.filter-title {
	position: relative;
	display: block;
	margin: 0 auto;
	border: 2px solid $black;
	padding: 8px 40px 8px 26px;
	border-radius: 8px;
	border-radius: 50px;

	@include media('>=desktop') {
		display: none;
	}

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: 26px;
		margin-top: -8px;
		width: 16px;
		height: 16px;
		background: url('assets/images/icon-down.svg') no-repeat;
		transition: 0.3s ease;
	}

	&.open {
		&:after {
			transform: rotate(180deg);
		}
	}
}

.filter-box-wrap {
	margin-bottom: 40px;
	position: relative;

	@include media('>=tablet') {
		margin-bottom: 60px;
	}

	@include media('>=desktop') {
		margin-bottom: 80px;
	}
	.dropdown {
		@include media('<desktop') {
			display: none;
			background: $white;
			position: absolute;
			border-radius: 20px;
			top: 100%;
			left: -20px;
			right: 20px;
			padding: 32px 24px;
			width: 100vw;
			z-index: 20;
		}
	}

	form {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;

		&#blog-filter {
			@include media('>=desktop') {
				gap: 10px;
				align-items: flex-end;
				grid-template-columns: minmax(230px, 260px) 200px minmax(220px, 250px) 120px 1fr;
			}

			@include media('>=widescreen') {
				grid-template-columns: minmax(200px, 420px) 200px minmax(250px, 280px) 130px 1fr;
			}
		}

		&#news-filter {
			@include media('>=desktop') {
				gap: 10px;
				align-items: flex-end;
				grid-template-columns: minmax(230px, 260px);
			}
		}

		.btn {
			font-size: 16px;

			@include media('<desktop') {
				width: 120px;
			}

			@include media('>=desktop') {
				margin-left: auto;
			}
		}

		.reset-filter {
			font-size: 14px;
			text-decoration: underline;
			@include media('<desktop') {
				position: absolute;
				bottom: 44px;
				left: 160px;
			}
			@include media('>=desktop') {
				margin-bottom: 12px;
				margin-left: auto;
				justify-self: end; /* push it to the end of its grid cell */
			}

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.card-resource {
	&.news,
	&.blog {
		.card-wrap {
			&:hover {
				.text-wrap {
					.text {
						max-height: max-content;
						// max-height: 150px;

						// @include media('>=desktop') {
						// 	max-height: 65px;
						// }
					}
				}
			}

			.img-wrap {
				@include mask-image('assets/images/img-mask-rectangle-2x.png');
				img {
					max-height: 350px;
				}
			}

			.text-wrap {
				h3 {
					font-size: 20px;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}

				.btn-arrow {
					font-size: inherit;
					width: 100%;
					justify-content: space-between;
					gap: 20px;

					span {
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}

					&:after {
						min-width: 18px;
						min-height: 18px;
					}
				}

				.text {
					max-height: 0;
					opacity: 0;
					transform: translateY(10px);
					transition: 0.3s ease;
					display: flex;
					flex-direction: column;
					gap: 10px;
				}
			}

			.tag-foot {
				display: flex;
				flex-direction: column;
				gap: 10px 20px;

				@include media('>=tablet') {
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
				}

				.date {
					font-size: 14px;
				}
			}
		}
	}

	&.news {
		.card-wrap {
			.img-wrap {
				position: relative;
				.logo-news {
					position: absolute;
					bottom: 20px;
					right: 20px;
					max-width: 100px;
					max-height: 100px;
					min-width: 100px;
					min-height: 100px;
					width: auto;
					height: auto;
					object-fit: contain;
				}
			}
		}
	}
}

.resources-listing-block {
	@include media('>=widescreen') {
		padding-top: 120px;
		padding-bottom: 200px;
	}
	.row {
		position: relative;
		margin: 0 -12px;
		row-gap: 40px;

		@include media('>=desktop') {
			row-gap: 60px;
		}

		.loading {
			margin: 0 auto;
			position: absolute;
			top: -33px;
			left: 50%;
			// transform: translateX(-50%);
			margin-left: -15px;

			@include media('>=desktop') {
				top: -50px;
			}
		}
	}
	.col {
		padding: 0 12px;
		width: 100%;

		@include media('>=tablet') {
			width: 50%;
		}

		@include media('>=desktop') {

		}

		&:nth-child(9n+1),
		&:nth-child(9n+9),
		&:nth-child(9n+4) {
			@include media('>=desktop') {
				width: 41.6666%;
			}

			img {
				@include media('>=desktop') {
					aspect-ratio: 496 / 350;
				}
			}
		}

		&:nth-child(9n+5),
		&:nth-child(9n+6),
		&:nth-child(9n+7) {
			@include media('>=desktop') {
				width: 33.33%;
			}

			img {
				@include media('>=desktop') {
					aspect-ratio: 392 / 350;
				}
			}
		}

		&:nth-child(9n+2),
		&:nth-child(9n+3),
		&:nth-child(9n+8) {
			@include media('>=desktop') {
				width: 58.3334%;
			}

			img {
				@include media('>=desktop') {
					aspect-ratio: 704 / 350;
				}
			}
		}
	}

	.btn-wrap {
		margin-top: 40px;

		@include media('>=desktop') {
			margin-top: 80px;
		}
	}
}

.search-listing {
	.page-header {
		margin-bottom: 24px;

		@include media('>=desktop') {
			margin-bottom: 32px;
		}
	}

	.not-found {
		flex-direction: column;
		min-height: 0;
	}
}

.search-lists {
	display: flex;
	flex-direction: column;
	gap: 16px;
	.search-list {
		// border-bottom: 1px solid $gray;
	}
	.entry-title {
		margin-bottom: 16px;
		a {
			// color: $navy-blue;

			&:hover {
				@include media('>=desktop') {
					color: $primary;
				}
			}
		}
	}
}