.card-register {
	.card-wrap {
		background: $white;
		height: 100%;
		display: flex;
		flex-direction: column;
		border-radius: 20px;
		overflow: hidden;
		padding-bottom: 30px;

		.img-wrap {
			img {
				aspect-ratio: 392/320px;
				width: 100%;
			}
		}

		.text-wrap {
			padding: 30px 20px 0;
			margin-bottom: 30px;
			// background: $white;

			&:last-child {
				margin-bottom: 0;
			}

			.text {
				& * {
					margin: 0;
				}
			}
		}

		.links {
			padding-inline: 20px;
			margin-top: auto;
			column-gap: 20px;
			.btn-wrap {
				.btn {
					font-size: 16px;
					padding-block: 16px;

					&.outline {
						padding-block: 13px;
					}
				}
			}
		}
	}
}
.register-lists-block {
	.heading-block {
		max-width: 840px;
		margin-inline: auto;
	}
	.row {
		margin: 0 -12px;
		row-gap: 30px;
	}

	.col {
		width: 100%;
		padding: 0 12px;

		@include media('>=desktop') {
			width: 33.33%;
		}
	}
}