.section{
	background: $primary-butter;
	&:not(.sidebar-with-content-block ) {

	}
}

.sidebar-with-content-block {
	position: relative;
	z-index: 1;
	& + .sidebar-with-content-block {
		// z-index: -1;
		z-index: 0;
	}

	&:nth-of-type() {
		& + .section {
			background: $primary-butter;
			position: relative;
			z-index: 2;
		}
	}
	.row{
		margin: 0;
		display: grid;
		grid-template-columns: 1fr;
		row-gap: 40px;
		align-items: flex-start;

		@include media('>=desktop') {
			grid-template-columns: 288px 1fr;
			column-gap: 60px;
		}

		@include media('>=widescreen') {
			column-gap: 88px;
		}

		@include media('>=large') {
			column-gap: 128px;
		}
	}

	.col{
		padding: 0;
	}

	.col-sidebar {
		// position: sticky;
		// top: 200px;

		@include media('<desktop') {
			height: 86px;
		}

		&.no-sidebar-content {
			@include media('<desktop') {
				display: none;
			}
		}
	}

	.sidebar-wrap {
		display: flex;
		flex-direction: column;
		gap: 20px;
		position: relative;
		padding: 20px;
		background: $primary-butter;
		margin: 0 -20px;

		@include media('>=desktop') {
			gap: 60px;
			margin: 0;
			padding: 0;
			width: 288px;
			background: transparent;
		}

		@include media('>=widescreen') {
			gap: 80px;
		}

		@include media('>=large') {
			gap: 180px;
		}

		&.fixed {
			position: fixed;
			top: 85px !important;
			left: 20px;
			right: 20px;
			z-index: 1;

			.admin-bar & {
				top: 127px !important;

				@include media('>=desktop') {
					top: 190px !important;
				}
			}

			@include media('>=desktop') {
				left: auto;
				right: auto;
				top: 160px !important;
			}
		}

		ul {
			@extend %listreset;
			display: flex;
			flex-direction: column;
			gap: 30px;

			li {
				a {
					text-transform: uppercase;
					font: 700 20px/1 $secondary-font;
					letter-spacing: 0.5px;
					color: $primary-gray;
					text-decoration: none !important;

					&.active {
						color: $black;
					}

					&:hover {
						text-decoration: none;
						color: $black;
					}
				}
			}
		}

		.sidebar-tab-title {
			position: relative;
			display: block;
			margin: 0 auto;
			border: 2px solid $black;
			padding: 8px 50px 8px 26px;
			border-radius: 8px;
			border-radius: 50px;
			width: 100%;
			background: $primary-butter;

			@include media('>=desktop') {
				display: none;
			}

			&:after {
				content: "";
				position: absolute;
				top: 50%;
				right: 20px;
				margin-top: -8px;
				width: 16px;
				height: 16px;
				background: url('assets/images/icon-down.svg') no-repeat;
				transition: 0.3s ease;
			}

			&.open {
				&:after {
					transform: rotate(180deg);
				}
			}
		}

		.dropdown {
			@include media('<desktop') {
				display: none;
				background: $white;
				position: absolute;
				border-radius: 20px;
				top: 99%;
				left: 0;
				right: 0;
				padding: 32px 24px;
				width: 100vw;
				z-index: 20;
			}
		}

		.img-wrap {
			@include media('<desktop') {
				display: none;
			}
		}
	}

	.main-content-lists {
		display: flex;
		flex-direction: column;
		gap: 40px;

		@include media('>=widescreen') {
			gap: 120px;
		}

		.main-content-list {
			display: flex;
			flex-direction: column;
			gap: 40px;
			position: relative;

			@include media('>=widescreen') {
				gap: 80px;
			}

			.img-heading {
				position: absolute;
				top: -40px;
				left: -40px;
				z-index: -1;

				@include media('>=large') {
					top: -100px;
					left: -100px;
				}
			}
		}

		.heading {
			display: flex;
			flex-direction: column;
			gap: 30px;

			& * {
				margin: 0;
			}
		}

		.text {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;

			& * {
				margin: 0;
			}

			.border-circle {
				background: url('assets/images/border-circle.png') no-repeat;
				background-size: cover;
				background-position: center;
				padding: 24px 27px;

				@include media('>=desktop') {
					padding: 28px;
					margin: 0 0 0 -31px;
				}
			}
		}

		.btn-wrap {
			.btn-arrow {
				font-size: 20px;
				gap: 20px;

				&:after {
					min-width: 18px;
					min-height: 18px;
				}
			}
		}
	}

	.sub-content-lists {
		display: flex;
		flex-direction: column;
		gap: 40px;

		@include media('>=widescreen') {
			gap: 80px;
		}

		.sub-content-list {
			display: flex;
			flex-direction: column;
			gap: 20px;

			* {
				margin-bottom: 0;
			}
		}
	}

	.tabs-main-wrap {
		margin-top: 10px !important;
		.tabs-wrapper {
			margin-bottom: 30px;
			@include media('>=tablet') {
				display: inline-flex;
			}

			ul.tabs {
				@include media('<tablet') {
					max-width: 200px;
				}
				li {
					a {
						padding: 8px 20px;
					}
				}
			}
		}

		.tabs-container {
			.tab-content {
				&-wrap {
					display: flex;
					flex-direction: column;
					gap: 30px;
				}
			}
			.btn-wrap {
				.btn-arrow {
					gap: 55px;
				}
			}
		}
	}
}