.social-block {
	overflow: hidden;
	.section-heading {
		@include media('>=desktop') {
			// grid-template-columns: 1.5fr 1fr;
		}

		.column-left-wrap {
			max-width: 100%;
		}

		.column-right {
			position: relative;
			.social-networks {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				gap: 16px 20px;

				@include media('>=desktop') {
					column-gap: 60px;
				}

				.title {
					font-size: 20px;
				}

				ul {
					@extend %listreset;

					display: flex;
					flex-wrap: wrap;
					gap: 16px;

					li {
						a {
							&:hover {
								opacity: 0.7;
							}
						}
					}
				}
			}
		}
	}

	.social-slider{
		.card-social {
			img {
				width: 100%;
			}
		}
	}
}