.steps-block {
	.row {
		margin: 0;
		display: grid;
		grid-template-columns: 1fr;
		gap: 40px;
		align-items: flex-start;

		@include media('>=desktop') {
			grid-template-columns: 496px 1fr;
		}

		@include media('>=widescreen') {
			gap: 88px;
		}

		@include media('>=large') {
			gap: 128px;
		}
	}

	.col {
		padding: 0;
	}

	.col-content {
		@include media('>=desktop') {
			position: sticky;
			top: 30px;
		}
	}

	.content-wrap {
		display: flex;
		flex-direction: column;
		gap: 30px;

		& * {
			margin: 0;
		}

		.text {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
	}

	.steps-wrap {
		// max-height: 470px;
		// overflow: auto;

		// &::-webkit-scrollbar {
		// 	display: none;
		// }
		// /* Hide scrollbar for Firefox */
		// scrollbar-width: none; /* Firefox */
		// -ms-overflow-style: none; /* Internet Explorer 10+ */
	}
	.step-lists {
		display: flex;
		flex-direction: column;
		gap: 40px;

		.step-list {
			display: flex;
			flex-direction: column;
			gap: 30px;
			background: $white;
			border-radius: 20px;
			padding: 20px;
			opacity: calc(1 - var(--progress));
			transform: translateY(calc(100% * var(--progress)));
			transform-origin: center bottom;
			will-change: opacity, transform;

			@include media('>=desktop') {
				padding: 30px 30px 40px;
			}

			.heading {
				display: grid;
				grid-template-columns: 1fr;
				gap: 30px;

				&:not(.no-icon) {
					@include media('>=tablet') {
						grid-template-columns: 60px 1fr;
					}
				}

				.icon-wrap {
					max-width: 60px;
				}

				.content-wrap {
					display: flex;
					flex-direction: column;
					gap: 10px;

					&:only-child() {
						grid-column: span 12;
					}
				}
			}

			.text {
				display: flex;
				flex-direction: column;
				// gap: 60px;
				gap: 20px;

				& * {
					margin: 0;
				}
			}
			.btn-wrap {
				.btn-arrow {
					font-size: 20px;
					gap: 20px;

					&:after {
						min-width: 18px;
						min-height: 18px;
					}
				}
			}
		}
	}
}