.tabs-with-slider-block {
	.tabs-with-slider-wrap {
		position: relative;
	}
	.heading-block {
		h2 {
			max-width: 709px;
			position: relative;
			z-index: 2;
		}
	}

	// .tabs-block-wrapper {
	// 	display: grid;
	// 	grid-template-columns: 100%;
	// 	gap: 30px;

	// 	@include media('>=tablet') {
	// 		grid-template-columns: 260px calc(100% - 300px);
	// 		gap: 40px;
	// 	}

	// 	@include media('>=desktop') {
	// 		grid-template-columns: 280px calc(100% - 280px - 60px);
	// 		gap: 60px;
	// 	}

	// 	@include media('>=widescreen') {
	// 		grid-template-columns: 288px calc(100% - 288px - 80px);
	// 		gap: 80px;
	// 	}

	// 	@include media('>=large') {
	// 		gap: 128px;
	// 		grid-template-columns: 288px calc(100% - 288px - 128px);
	// 	}



	// 	.tabs-wrapper {
	// 		border-radius: 0;
	// 		background: none;
	// 		margin: 0;
	// 		.tabs {
	// 			gap: 20px;

	// 			@include media('>=tablet') {
	// 				white-space: normal;
	// 				flex-direction: column;
	// 				gap: 30px;
	// 			}

	// 			@include media('>=desktop') {

	// 			}

	// 			li {
	// 				&.active {
	// 					a {
	// 						@include media('>=tablet') {
	// 							color: $black;
	// 						}
	// 					}
	// 				}
	// 				a {
	// 					@include media('>=tablet') {
	// 						padding: 0;
	// 						display: inline-block;
	// 						text-align: left;
	// 					}

	// 					&:hover {
	// 						@include media('>=tablet') {
	// 							color: $black;
	// 						}
	// 					}
	// 				}
	// 			}
	// 		}

	// 		.indicator {
	// 			@include media('>=tablet') {
	// 				display: none;
	// 			}
	// 		}
	// 	}

	// 	.slide-wrap {
	// 		.text {
	// 			display: flex;
	// 			flex-direction: column;
	// 			gap: 20px;
	// 			max-width: 600px;
	// 			* {
	// 				margin: 0;
	// 			}
	// 		}
	// 	}

	// 	.swiper-navigation {
	// 		display: flex;
	// 		align-items: center;
	// 		gap: 20px;
	// 		margin-top: 40px;

	// 		@include media('>=desktop') {
	// 			margin-top: 60px;
	// 		}

	// 		& > *{
	// 			position: static;
	// 		}
	// 	}
	// }

	.tab-with-content-slider-wrap {
		display: grid;
		grid-template-columns: 100%;
		gap: 30px;

		@include media('>=tablet') {
			grid-template-columns: 260px calc(100% - 300px);
			gap: 40px;
		}

		@include media('>=desktop') {
			grid-template-columns: 280px calc(100% - 280px - 60px);
			gap: 60px;
		}

		@include media('>=widescreen') {
			grid-template-columns: 288px calc(100% - 288px - 80px);
			gap: 80px;
		}

		@include media('>=large') {
			gap: 128px;
			grid-template-columns: 288px calc(100% - 288px - 128px);
		}

		.swiper-wrapper {
			.slide-wrap {
				.text {
					max-width: 600px;
					display: flex;
					flex-direction: column;
					gap: 20px;

					* {
						margin: 0;
					}
				}
			}
		}
		.swiper-navigation {
			display: flex;
			align-items: center;
			gap: 20px;
			margin-top: 40px;

			@include media('>=desktop') {
				margin-top: 60px;
			}

			& > *{
				position: static;
			}
		}

		.swiper-pagination {
			position: static;
			display: flex;
			flex-direction: column;
			gap: 20px;
			text-align: left;

			@include media('>=tablet') {
				white-space: normal;
				flex-direction: column;
				gap: 30px;
			}

			span {
				letter-spacing: 0.5px;
				text-transform: uppercase;
				font: 700 20px/1 $secondary-font;
				cursor: pointer;
				color: rgba($black, 0.4);
				transition: 0.3s ease;

				&:hover,
				&.active {
					color: $black;

				}
			}
		}
	}

	.tab-with-content-slider {

	}
}