.toolkits-block {
	.row {
		row-gap: 40px;
	}

	.col {
		width: 100%;

		@include media('>=tablet') {
			width: 50%;
		}

		@include media('>=desktop') {
			width: 25%;
		}

		&-wrap {}

		.img-wrap {
			position: relative;
			> a {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				opacity: 0;
				font-size: 0;
			}
			img {
				@include mask-image('assets/images/img-mask-rectangle-large.png');
			}
		}
	}
}